* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.contents {
	background-color: cadetblue;
	height: 100vh;
}

.container {
	background-color: darkcyan;
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 16px;
}
