<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<link rel="stylesheet" href="style.css" />
		<title>Stack</title>
	</head>
	<body>
		<p>margin: 0 auto;を利用する例</p>
		<div>
			<div class="items-with-margin-auto item">まぐろ</div>
			<div class="items-with-margin-auto item">サーモン</div>
			<div class="items-with-margin-auto item">うに</div>
			<div class="items-with-margin-auto item">いくら</div>
		</div>

		<p>flexboxを利用する例</p>
		<div class="stack-with-flex">
			<div class="item">まぐろ</div>
			<div class="item">サーモン</div>
			<div class="item">うに</div>
			<div class="item">いくら</div>
		</div>
	</body>
</html>
