<!DOCTYPE html>
<html lang="en">
	<head>
		<style>
			.item {
				width: 100px;
				height: 60px;
				background-color: burlywood;
				border-radius: 10px;
			}

			.items-with-margin-auto {
				margin: 0 auto;
			}

			.stack-with-flex {
				display: flex;
				flex-direction: column;

				align-items: center;
			}

		</style>
	</head>
	<body>
		<p>margin: 0 auto;を利用する例</p>
		<div>
			<div class="items-with-margin-auto item">まぐろ</div>
			<div class="items-with-margin-auto item">サーモン</div>
			<div class="items-with-margin-auto item">うに</div>
			<div class="items-with-margin-auto item">いくら</div>
		</div>

		<p>flexboxを利用する例</p>
		<div class="stack-with-flex">
			<div class="item">まぐろ</div>
			<div class="item">サーモン</div>
			<div class="item">うに</div>
			<div class="item">いくら</div>
		</div>
	</body>
</html>
