* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 20px;
}

.background {
	/* layout + shape */
	position: relative;
	padding: 100px 150px;
	max-width: 800px;

	/* color + design */
	background: linear-gradient(#407cff, #74bfee);
}

.Lji {
	position: absolute;
	width: 80px;
	height: 100px;
}

.Lji-top {
	top: 50px;
	left: 100px;
	border-top: solid 3px #fff;
	border-left: solid 3px #fff;
}
.Lji-bottom {
	bottom: 50px;
	right: 100px;
	border-bottom: solid 3px #fff;
	border-right: solid 3px #fff;
}

.self-intro-wrapper {
	display: flex;
	flex-direction: column;
	gap: 40px;

	color: #fff;
}

.name-wrapper h1,
p {
	font-weight: 400;
	letter-spacing: 0.02em;
}

.self-intro-text {
	font-weight: 300;
	font-size: small;
}
