<!DOCTYPE html>
<html lang="en">
	<head>
		<style>
			.grid-wrapper {
				display: grid;
				grid-template-columns: repeat(4, 1fr);
				grid-auto-rows: 100px;
			}

			.item {
				background-color: bisque;
				border-radius: 20px;
			}
		</style>
	</head>
	<body>
		<div class="grid-wrapper">
			<div class="item">ラーメン</div>
			<div class="item">担々麺</div>
			<div class="item">つけ麺</div>
			<div class="item">チャーシュー麺</div>
			<div class="item">ワンタン麺</div>
			<div class="item">チャーハン</div>
			<div class="item">レバニラ炒め</div>
		</div>
	</body>
</html>
