<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Grid</title>
		<link rel="stylesheet" href="style.css" />
	</head>
	<body>
		<div class="grid-wrapper">
			<div class="item">ラーメン</div>
			<div class="item">担々麺</div>
			<div class="item">つけ麺</div>
			<div class="item">チャーシュー麺</div>
			<div class="item">ワンタン麺</div>
			<div class="item">チャーハン</div>
			<div class="item">レバニラ炒め</div>
		</div>
	</body>
</html>
