<!DOCTYPE html>
<html lang="en">
	<head>
		<style>
			.contents {
				background-color: cadetblue;
				height: 100vh;
			}

			.container {
				background-color: darkcyan;
				width: 100%;
				max-width: 1200px;
				margin: 0 auto;
				padding: 0 16px;
			}
		</style>
	</head>
	<body>
		<div class="container">
			<div class="contents">
				Lorem ipsum dolor sit amet, consectetur adipisicing elit. Veritatis
				voluptatum, perferendis omnis, enim inventore velit nostrum molestias
				molestiae ipsum, minus aliquid hic dolorum delectus sunt explicabo. Eos,
				nisi voluptatibus. Aut!
			</div>
		</div>
	</body>
</html>
