* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	padding: 20px;
}

.circular-button {
	display: inline-flex;

	width: 50px;
	height: 50px;

	align-items: center;
	justify-content: center;

	border-radius: 9999px;

	/* reset default */
	text-decoration: none;
	outline: none;
}

.rounded-button {
	display: inline-flex;

	width: 200px;
	height: 50px;
	gap: 10px;

	align-items: center;
	justify-content: center;

	border-radius: 9999px;

	/* reset default */
	text-decoration: none;
	outline: none;
}

/* outlined button*/

.outline-button {
	background-color: white;
	color: #333;
	border: solid 1px #ddd;
}
.outline-button:active {
	background-color: gainsboro;
}

/* elevated button*/

.elevated-button {
	background-color: white;
	color: #333;
	filter: drop-shadow(3px 3px 4px #00000030);
}
.elevated-button:active {
	background-color: gainsboro;
	filter: none;
}

/* elevated + text button*/

.elevated-text-button {
	background-color: blueviolet;
	color: #fff;
	filter: drop-shadow(3px 3px 4px #00000030);
}
.elevated-text-button:active {
	background-color: rgb(114, 37, 187);
	filter: none;
}

.button-text {
	margin-bottom: 2px;
}
